@media screen and (min-width: 1275px) {


  /* start css componant boxes */
  

  /* end css componant boxes */

  /* start css componant input */

  .flex-container-input-comp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .sapn-img-doc-accuil {
    width: 20%;
  }
  .img_doc_input_comp{
    height: 350px;
  }
  .span-input-text-accuil {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .input-searchbar-input-acciuil {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dynamic-text-span-text-accuil {
    /* width: 70%; */
  }

  .text-animation-span-text-accuil {
    transform: translate(-50%, -50%);
  }

  .tx1 {
    animation: ani1 20s infinite;
  }

  .tx2 {
    animation: ani2 20s infinite;
  }

  .tx3 {
    animation: ani3 20s infinite;
  }

  .tx4 {
    animation: ani4 20s infinite;
  }

  .tx5 {
    animation: ani5 20s infinite;
  }

  .text-decoraoin-h1 {
    font-family: monospace;
  }

  .txt {
    opacity: 0%;
    position: absolute;
    color: beige;
    font-family: monospace;
  }

  @keyframes ani1 {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    20% {
      opacity: 0;
    }
  }

  @keyframes ani2 {
    20% {
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    40% {
      opacity: 0;
    }
  }

  @keyframes ani3 {
    40% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    60% {
      opacity: 0;
    }
  }

  @keyframes ani4 {
    60% {
      opacity: 0;
    }

    70% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }
  }

  @keyframes ani5 {
    80% {
      opacity: 0;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .searchbar-input {
    height: 38px;
  }

  #buttonloca {
    height: 60px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: rgba(179, 60, 60, 0);
    box-shadow: none;
    color: #2b4660;
    cursor: pointer;

  }

  .searchbar-input-icon {
    background-color: white;
    margin-bottom: 7px;
  }

  .form-outer {
    width: 100%;
  }

  .form-input-accuil {
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }

  /* end css componant input */

  .container {
    width: 100%;
    max-width: 1160px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .form-input {
    /* margin: 10px auto; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100%;
  }

  .form-input2 {
    /* margin: 10px auto; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-input1 {
    /* margin: 10px auto; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
  }

  .input {
    border: 2px solid #eee;
    padding: 5px 10px 5px 50px;
    font-size: 18px;
    line-height: 30px;
    outline: 0;
    display: block;
    width: 100%;
  }

  .icon {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 25px;
    /* color: #4b00ff; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iicon {
    border: 0in;
    font-size: 25px;
    color: #4b00ff;
  }

  .input2 {
    border: 2px solid #eee;
    padding: 5px 10px 5px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    outline: 0;
    display: block;
    width: 100%;
  }

  #loca_doc {
    height: 44px;
    background-color: #fff;
  }

  .form-input {
    /* margin: 10px auto; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100%;
  }
}


